<!-- @format -->
<footer *ngIf="hideFooter">
    <div class="footer-menu">
        <div class="container">
            <ul *ngIf="pages">
                <li *ngFor="let page of pages" (click)="redirect(page.url)">
                    {{page.title}}
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="text-center m-0 p-2">
                Copyright 2020 [IMA]. All rights reserved.
            </p>
        </div>
    </div>
</footer>
