<!-- @format -->
<footer *ngIf="hideFooter">
    <!-- <div class="footer-menu">
        <div class="container">
            <ul *ngIf="pages">
                <li *ngFor="let page of pages" (click)="redirect(page.url)">
                    {{page.title}}
                </li>
            </ul>
        </div>
    </div> -->
    <section class="footerContact">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4">
                    <h4>Our Contacts</h4>
                    <p>Map description text</p>
                    <p><i class="fa fa-globe padR20" aria-hidden="true"></i> Jacksotts str. 698 San Diego, California, USA</p>
                    <p><i class="fa fa-phone padR20" aria-hidden="true"></i> 1-800-123-4567, 1-800-123-4568</p>
                    <p><a href="mailto: fashion_vogue@support.com"><i class="fa fa-envelope padR20" aria-hidden="true"></i> ima@support.com</a></p>
                </div> -->
                <div class="col-md-4 offset-md-2">
                    <h4>Banner Ad</h4>
                    <div class="verticalItem">
                        <a href="javascript:void(0)">
                            <div class="itemMedia">
                                <img src="assets/images/footerbanner.jpg" alt="">
                            </div>
                            <div class="itemContent">
                                <span class="visitBtn">visit</span>
                                <h3>Model<br> Courses</h3>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="col-md-4 pl-50">
                    <h4>Follow Us</h4>
                    <div class="footerLinks">
                        <ul class="clearfix unstyled">
                            <li class="clsFace">
                                <a href="javascript:void(0)" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="clsTwit">
                                <a href="javascript:void(0)" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="clsGoogle">
                                <a href="javascript:void(0)" title="Google">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="clsLink">
                                <a href="javascript:void(0)" title="Linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="clsPin">
                                <a href="javascript:void(0)" title="Pinterest">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="text-left m-0 p-2">
                        © [IMA]. Copyright 2021 All Rights Reserved
                    </p>
                </div>

                <div class="col-sm-4 text-right">
                    <a class="site-color" href="javascript:void(0)" [routerLink]="['/contactus']"> Contact Us </a>
                </div>
            </div>

        </div>
    </div>
</footer>