/* header starts */

:host {
    .navbar {
        background-color: rgba(34, 34, 34, 0.47);
        padding: 12px 130px;

        .navbar-brand {
            color: #fff;
        }

        .nav-item {
            padding: 0 15px;

            >a {
                color: #fff;
                font-size: 16px;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }

    .imacontainer {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
    }

    .imanavbar {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 9;
    }
}

@media(max-width:1440px) {
    :host {
        .navbar {
            .nav-item {
                padding: 0 8px;

                >a {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width:991px) {
    .imanavbar {
        position: static !important;
        background-color: #000 !important;
        padding: 12px 25px !important;
    }
}

/* header ends */


/* footer starts */

.imafooter {
    background-color: #333;
    height: 200px;
    line-height: 200px;

    p {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }
}

/* footer ends */
/* subheading starts */
.subheadings {
    position: absolute;
    padding: 0 0 0 125px;
    top: 50%;
    left: 0;
    transform: translate(0%, -12%);

    h2 {
        font-family: 'Rozha One', serif;
        font-size: 5vw;
        color: #fff;
        line-height: 4vw;

        span {
            font-family: "Open Sans";
            font-size: 3vw;
            display: block;
            font-weight: 300;

        }
    }
}

.content-middle {
    padding: 65px 95px;
}

@media(max-width:1440px) {}

@media(max-width:991px) {
    .content-middle{
        padding:15px;
    }
    .subheadings {
        padding: 0 0 0 25px;
    }
}

/* subheading ends */


.advertlisting{
    .advertimg{
        display: inline-block;
        border-radius: 40px;
        overflow: hidden;
    }
    .advertmaincontent{
        margin:180px 0 0;
        h2{
            font-size: 75px;
            color:#696969;
            font-weight: 300;
        }
        p{
            font-size: 25px;
            color:#696969;
        }
    }
    .purchasbtn{
        font-size: 25px;
        color:#fff;
        font-weight: 300;
    }
    .adertindlist{
        margin:0 0 30px;
    }
}
@media(max-width:767px){
    .advertlisting{
        .advertmaincontent{
            margin:20px 0 0;
        }
    }
}