<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2 class="text-uppercase">Instant Vote</h2>
        </div>
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle" *ngIf="isShowTime">
        <div class="timer-container mx-auto">
            <h3 class="timerhd text-center" *ngIf="distance < 0">Contest Completed</h3>
            <h3 class="timerhd text-center" *ngIf="distance > 0">Time Remaining</h3>
            <div class="timerblock">
                <div class="hours timings text-center" *ngIf="days !== 0">
                    <span class="count" *ngIf="days && days.toString().length === 1">0{{days}}</span>
                    <span class="count" *ngIf="days && days.toString().length > 1">{{days}}</span>
                    <span class="timetext text-uppercase">Days</span>
                </div>
                <div class="timecolan"*ngIf="days !== 0">:</div>
                <div class="hours timings text-center" *ngIf="hours !== 0">
                    <span class="count" *ngIf="hours && hours.toString().length === 1">0{{hours}}</span>
                    <span class="count" *ngIf="hours && hours.toString().length > 1">{{hours}}</span>
                    <span class="timetext text-uppercase">Hours</span>
                </div>
                <div class="timecolan" *ngIf="minutes !== 0">:</div>
                <div class="minutes timings text-center" *ngIf="minutes !== 0">
                    <span class="count" *ngIf="minutes && minutes.toString().length === 1">0{{minutes}}</span>
                    <span class="count" *ngIf="minutes && minutes.toString().length > 1">{{minutes}}</span>
                    <span class="timetext text-uppercase">Minutes</span>
                </div>
                <div class="timecolan" *ngIf="minutes !== 0">:</div>
                <div class="seconds timings text-center" *ngIf="seconds !== 0">
                    <span class="count" *ngIf="seconds && seconds.toString().length === 1">0{{seconds}}</span>
                    <span class="count" *ngIf="seconds && seconds.toString().length > 1">{{seconds}}</span>
                    <span class="timetext text-uppercase">Seconds</span>
                </div>
            </div>
        </div>
    </div>
    <div class="participateblock">
        <div class="participate-inner">
            <h2 class="text-center">Participating Contestants</h2>
            <ul class="list-unstyled instaprofilelisting" *ngIf="users.length > 0">
                <li *ngFor="let user of users">
                    <a href="javascript:void(0)" (click)="redirect(user)">
                        <app-attachment
                            [attachment]="user.attachment"
                            [type]="original"
                        ></app-attachment>
                    </a>
                </li>
            </ul>
            <!-- <div class="voteblock text-center">
                <button class="btn btn-primary text-uppercase vote-btn">
                    Instant Vote
                </button>
            </div>
            <div class="contestent-individual mx-auto">
                <ul class=" list-unstyled">
                    <li>
                        <div class="contprofileleft">
                            <a href="javascript:void(0)">
                                <img
                                    src="assets/images/contestant-profile.jpg"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="contestant-details">
                            <h2>Contestant Name</h2>
                            <div class="progressmain">
                                <div class="progressbar">
                                    <span></span>
                                </div>
                                <span class="progressvotes">
                                    99<span>votes</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="contprofileleft">
                            <a href="javascript:void(0)">
                                <img
                                    src="assets/images/contestant-profile.jpg"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="contestant-details">
                            <h2>Contestant Name</h2>
                            <div class="progressmain">
                                <div class="progressbar">
                                    <span></span>
                                </div>
                                <span class="progressvotes">
                                    99<span>votes</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
