<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2 class="text-uppercase">Instant Vote</h2>
        </div>
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle" >
        <div class="timer-container mx-auto">
            <h3 class="timerhd text-center" *ngIf="distance < 0">Contest Completed</h3>
            <h3 class="timerhd text-center" *ngIf="distance > 0">Time Remaining</h3>
            <div class="timerblock">
                <countdown #cd [config]="{ stopTime: 1493313440499 }" (event)="handleEvent($event)"></countdown>
            </div>
        </div>
    </div>
    <div class="participateblock" *ngIf="isShowTime">
        <div class="participate-inner">
            <h2 class="text-center">Participating Contestants</h2>
            <ul class="list-unstyled instaprofilelisting" *ngIf="users.length > 0">
                <li *ngFor="let user of users">
                    <a href="javascript:void(0)" (click)="redirect(user)">
                        <app-attachment
                            [attachment]="user.attachment"
                            [type]="original"
                            [cssClass]="'instantvoteimg'"
                        ></app-attachment>
                    </a>
                </li>
            </ul>
            <!-- <div class="voteblock text-center">
                <button class="btn btn-primary text-uppercase vote-btn">
                    Instant Vote
                </button>
            </div>
            <div class="contestent-individual mx-auto">
                <ul class=" list-unstyled">
                    <li>
                        <div class="contprofileleft">
                            <a href="javascript:void(0)">
                                <img
                                    src="assets/images/contestant-profile.jpg"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="contestant-details">
                            <h2>Contestant Name</h2>
                            <div class="progressmain">
                                <div class="progressbar">
                                    <span></span>
                                </div>
                                <span class="progressvotes">
                                    99<span>votes</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="contprofileleft">
                            <a href="javascript:void(0)">
                                <img
                                    src="assets/images/contestant-profile.jpg"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="contestant-details">
                            <h2>Contestant Name</h2>
                            <div class="progressmain">
                                <div class="progressbar">
                                    <span></span>
                                </div>
                                <span class="progressvotes">
                                    99<span>votes</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
