
.carttitle {
    background-color: #171c30;
    height: 330px;

    h3 {
        color: #fff;
        font-size: 114px;
    }
}

.maincheckout {
    form {
        .form-group {
            margin-bottom: 25px;
        }

        label {
            font-size: 20px;
            color: #acacac;
        }

        input[type='text'],
        input[type='number'],
        input[type='email'] {
            border: 1px solid #acacac;
            border-radius: 0;
            height: 48px;
            color: #acacac;
        }

        .form-check {
            padding-left: 0;

            > input[type='checkbox'] {
                display: none;

                & + label {
                    position: relative;
                    padding-left: 22px;

                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        background: #d6d6d6;
                        left: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                }

                &:checked {
                    & + label {
                        &:before {
                            background-color: #797979;
                        }
                    }
                }
            }
        }

        .emailorderstatus {
            input {
                border: 1px solid transparent;
                border-bottom-color: #acacac;
            }
        }

        .form-text {
            font-size: 20px;
            color: #acacac;
        }

        .custom-radio {
            padding-left: 55px;

            input[type='radio'] {
                display: none;

                & + label {
                    position: relative;
                    padding-left: 22px;

                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        background: #d6d6d6;
                        border-radius: 50%;
                        left: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }

                    &:after {
                        content: none;
                    }
                }

                &:checked {
                    & + label {
                        &:before {
                            background-color: #797979;
                        }
                    }
                }
            }

            &:first-child {
                padding-left: 0;
            }
        }

        .continuews {
            margin-bottom: 20px;

            .continue-btn {
                font-size: 17px;
                height: 58px;
                width: 316px;
            }
        }
    }

    .paymenttitle {
        margin: 0px 0 10px;
        font-size: 41px;
        color: #696969;
    }

    .paymentoptions {
        margin-bottom: 15px;
    }

    .paymentblock {
        label {
            color: #696969;
        }
    }
}
h4{
    font-size: 25px !important;
}
.paymentOp img{
    width: 150px;
}
.paymentoptions-right {
    padding: 0 0 0 235px;

    h4 {
        color: #696969;
        margin: 0 0 15px;
        font-size: 41px;
        font-weight: 500;
    }
}

@media (max-width: 1440px) {
    .carttitle {
        height: 248px;

        h3 {
            font-size: 85px;
        }
    }

    .maincheckout {
        form {
            label {
                font-size: 15px;
            }

            input[type='text'],
            input[type='number'],
            input[type='email'] {
                height: 36px;
            }

            .continuews {
                margin-bottom: 20px;

                .continue-btn {
                    font-size: 17px;
                    height: 43px;
                    width: 235px;
                }
            }

            .form-text {
                font-size: 15px;
            }
        }
    }

    .paymentoptions-right {
        padding-left: 190px;
    }
}

@media (max-width: 1199px) {
    .paymentoptions-right {
        padding-left: 50px;
    }
}

@media (max-width: 991px) {
    .carttitle {
        height: 170px;

        h3 {
            font-size: 85px;
        }
    }
}

@media (max-width: 767px) {
    .paymentoptions-right {
        padding: 0 0 20px;

        img {
            max-width: 300px;
            width: 100%;
        }
    }

    .carttitle {
        h3 {
            font-size: 55px;
        }
    }

    .maincheckout {
        form {
            .custom-radio {
                padding-left: 5px;
            }
        }
    }
}
