<div class="login-page signup-page">
    <div class="signupwhite">
        <div class="text-center toplogo">
            <img src="assets/images/login-logo.jpg" class="img-fluid" />
        </div>
        <div class="password-changed mx-auto">
            <h2>Password Successfully Changed!</h2>
            <div class="login-actions">
                <a class="btn rounded-btn register-btn text-uppercase">{{
                    "Back to Login" | translate
                }}</a>
            </div>
        </div>
    </div>
</div>
