/**
 * /* You can add global styles to this file, and also import other style files
 *
 * @format
 */

@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';

@media print {
    .breadcrumb {
        display: none !important;
    }
}

:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

/* subheading starts */
.subheadings {
    position: absolute;
    padding: 0 0 0 125px;
    top: 50%;
    left: 0;
    transform: translate(0%, -12%);

    h2 {
        font-family: 'Rozha One', serif;
        font-size: 100px;
        color: #fff;
        line-height: 65px;

        span {
            font-family: 'Open Sans';
            font-size: 33px;
            line-height: 33px;
            display: block;
            font-weight: 300;
        }
    }
}

.imacontainer {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.content-middle {
    padding: 65px 95px;
}

.rozhafont {
    font-family: 'Rozha One', serif;
}
.cartlistthumbnails {
    display: flex;
    flex-direction: column;

    a {
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        height: 70px;
        border: 1px solid #ccc;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.accounttabs{
    .pane{
        padding: 0 !important;
    }
    ul.nav-tabs{
        border: none;
        display: flex;
        justify-content: space-between;
        li{
            text-transform: uppercase;
            margin:0 5px;
            width: 19%;
            border-radius: 10px 10px 0 0;
            background-color:#b3b3b3;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                color:#fff;
                font-size: 16px;
                padding: 20px 10px;
                display: block;
                text-align: center;
                &:hover,&:focus{
                    text-decoration: none;
                }
            }
            &.active{
                background-color: #ededed;
                a{
                    color:#000;
                }
            }
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                margin-right:0;
            }
        }
    }
}
@media (max-width: 1440px) {
    .subheadings {
        h2 {
            font-size: 75px;
            line-height: 65px;
            span {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }
    .shopattimage{
        max-height: 450px;
    }
    .accounttabs {
        ul.nav-tabs {
            li {
                a{
                    font-size:14px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .content-middle {
        padding: 15px;
    }

    .subheadings {
        padding: 0 0 0 25px;
        transform: translate(0%, -50%);
        h2 {
            font-size: 50px;
            line-height: 50px;
            span {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    .accounttabs {
        ul.nav-tabs {
            li {
                width: 18%;
                a{
                    font-size:12px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .subheader {
        > img {
            object-fit: cover;
            object-position: 80%;
        }
    }
    .subheadings {
        padding: 0 0 0 15px;
        h2 {
            font-size: 30px;
            line-height: 30px;
            span {
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
}
@media (max-width: 480px) {
    .accounttabs {
        ul.nav-tabs {
            flex-direction: column;
            li {
                margin:5px 0;
                border-radius: 0;
                width: 100%;
                a{
                    font-size:13px;
                    padding:10px;
                }
            }
        }
    }
}

/* subheading ends */
.invalid-feedback-show {
    color: #f00;
    font-size: 14px;
    margin: 1px 0 0;
}
