<!-- @format -->

<div class="imacontainer" *ngIf="user && user.data">
	<div class="profileheader text-center">
		<app-attachment
			[attachment]="user.data.attachment"
			[type]="original"
		></app-attachment>
	</div>
	<div class="content-middle contestantprofile">
		<div class="contprofileimage">
			<app-attachment
				[attachment]="user.data.attachment"
				[type]="original"
			></app-attachment>
		</div>
		<div class="container">
			<div class="contprofilearea">
				<div class="text-center">
					<h2>
						{{ user.data.first_name }} {{ user.data.last_name }}
					</h2>
					<ul
						class="profile-social list-inline text-center"
						*ngIf="
							user.data.instagram_url ||
							user.data.tiktok_url ||
							user.data.youtube_url ||
							user.data.twitter_url ||
							user.data.facebook_url
						"
					>
						<li
							class="list-inline-item px-4"
							*ngIf="user.data.instagram_url"
						>
							<a
								href="{{ user.data.instagram_url }}"
								target="_bank"
							>
								<img
									src="assets/images/instagram.png"
									class="img-fluid"
								/>
								<span class="d-block"><em>Instagram</em></span>
							</a>
						</li>
						<li
							class="list-inline-item px-4"
							*ngIf="user.data.tiktok_url"
						>
							<a href="{{ user.data.tiktok_url }}" target="_bank">
								<img
									src="assets/images/social1.png"
									class="img-fluid"
								/>
								<span class="d-block"><em>Tiktok</em></span>
							</a>
						</li>
						<li
							class="list-inline-item px-4"
							*ngIf="user.data.youtube_url"
						>
							<a
								href="{{ user.data.youtube_url }}"
								target="_bank"
							>
								<img
									src="assets/images/youtube.png"
									class="img-fluid"
								/>
								<span class="d-block"><em>Youtube</em></span>
							</a>
						</li>
						<li
							class="list-inline-item px-4"
							*ngIf="user.data.twitter_url"
						>
							<a
								href="{{ user.data.twitter_url }}"
								target="_bank"
							>
								<img
									src="assets/images/twitter.png"
									class="img-fluid"
								/>
								<span class="d-block"><em>Twitter</em></span>
							</a>
						</li>
						<li
							class="list-inline-item px-4"
							*ngIf="user.data.facebook_url"
						>
							<a
								href="{{ user.data.facebook_url }}"
								target="_bank"
							>
								<img
									src="assets/images/facebook.png"
									class="img-fluid"
								/>
								<span class="d-block"><em>Facebook</em></span>
							</a>
						</li>
					</ul>
					<div class="my-5">
						<a
							href="javascript:void(0)"
							class="btn btn-primary contestvote-btn d-flex align-items-center justify-content-center text-uppercase m-auto"
						>
							<i
								class="fa fa-star fa-3x mr-3"
								aria-hidden="true"
							></i>
							Vote for {{ user.data.first_name }}
							{{ user.data.last_name }}
						</a>
					</div>
					<div class="voteandrank">
						<ul class="voterankcounts list-inline text-center">
							<li class="list-inline-item px-4">
								<img
									src="assets/images/rating-icon.png"
									class="img-fluid"
								/>
								<span class="d-block profilevcount"
									>99<span class="d-block contvotestext"
										>votes</span
									></span
								>
							</li>
						</ul>
					</div>
					<ul
						class="list-unstyled text-left d-flex justify-content-center contprofile-slisting flex-column"
					>
						<li
							class="pb-3 my-4 mx-auto"
							*ngIf="
								!sessionService.isAuth ||
								!user.data.is_subscribed
							"
						>
							<div class="contprofile-listing">
								<a
									href="javascript:void(0)"
									[routerLink]="['/login']"
									*ngIf="!sessionService.isAuth"
								>
									<img
										src="assets/images/subscribe-lock.png"
										class="img-fluid"
									/>
								</a>
								<a
									href="javascript:void(0)"
									[routerLink]="['/purchase']"
									*ngIf="
										sessionService.isAuth &&
										!user.data.is_subscribed
									"
								>
									<img
										src="assets/images/subscribe-lock.png"
										class="img-fluid"
									/>
								</a>
							</div>
						</li>
						<li
							class="pb-3 my-4 mx-auto"
							*ngIf="
								sessionService.isAuth &&
								user.data.subscribed_data &&
								user.data.subscribed_data.length > 0
							"
						>
							<div class="contprofile-listing">
								<a href="javascript:void(0)">
									<app-attachment
										[attachment]="user.data.attachment"
										[type]="original"
									></app-attachment>
								</a>
							</div>
						</li>
						<li
							class="pb-3 my-4 mx-auto"
							*ngIf="
								sessionService.isAuth &&
								user.data.is_subscribed &&
								user.data.subscribed_data.length === 0
							"
						>
							No Records
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
