nav.navbar {
    background-color: #20283b;
    padding: 12px 130px;
}

.imacontainer {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.imanavbar {
    position: static;
}

.profileheader {
    app-attachment {
        .shopattimage {
            max-height: 450px;
        }
    }
}

.contprofileimage {
    max-width: 550px;
    overflow: hidden;
    width: 100%;
    margin: -360px auto 0;
    border-radius: 50%;
    position: relative;
}

.contprofilearea {
    h2 {
        font-family: 'Rozha One', serif;
        font-size: 66px;
        line-height: normal;
        color: #585757;
    }
}

.profile-social {
    margin: 20px 0 30px;

    li {
        a {
            font-size: 25px;
            color: #8f8f8f;
            text-decoration: none;
        }
    }
}

.contestvote-btn {
    max-width: 680px;
    width: 100%;
}

.voteandrank {
    .voterankcounts {
        .profilevcount {
            color: #7a7a7a;
            font-size: 29px;
            line-height: 20px;
            margin: 15px 0 0;
            font-weight: 800;

            .contvotestext {
                font-size: 10px;
                font-weight: normal;
            }
        }
    }
}

.contestprofile-thumb {
    font-size: 19px;
    font-weight: 600;
    color: #454545;
}

.contprodescr {
    font-size: 15px;
    color: #696969;
}

.categoryname {
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0 20px;
}

.contprofile-listing {
    max-width: 800px;
    min-width: 800px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    >span {
        width: 33.33%;
        border: 1px solid #ccc;
        margin-bottom: 1px;
    }
}

.contprofiledetails {
    color: #acacac;
}

.profileinitialimg {
    width: 800px;
}
.plusmore{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    background: rgba(0,0,0,0.15);
}

@media (max-width: 1440px) {
    .contprofileimage {
        max-width: 420px;
        margin: -320px auto 0;
    }

    .contprofilearea {
        h2 {
            font-size: 50px;
        }
    }

    .contestvote-btn {
        max-width: 510px;
        font-size: 13px;
    }

    .voteandrank {
        .voterankcounts {
            li {
                img {
                    max-width: 61px;
                }
            }

            .profilevcount {
                font-size: 21px;
            }
        }
    }

    .contprofile-listing {
        max-width: 700px;
        min-width: 700px;
    }

    .profileinitialimg {
        width: 700px;

        .profilefirstimg {
            width: 700px;
            height: 450px;
        }
    }
}

@media (max-width: 991px) {
    .contprofileimage {
        max-width: 300px;
        margin: -180px auto 0;
    }

    .contprofilearea {
        h2 {
            font-size: 36px;
        }
    }

    .contprofile-listing {
        max-width: 600px;
        min-width: 600px;
    }

    .profileinitialimg {
        width: 600px;

        .profilefirstimg {
            width: 600px;
            height: 400px;
        }
    }

    .profile-social {
        li {
            a {
                font-size: 18px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .contprofileimage {
        max-width: 150px;
        margin: -100px auto 0;
    }

    .contprofile-listing {
        max-width: 440px;
        min-width: 440px;
    }

    .profileinitialimg {
        width: 440px;

        .profilefirstimg {
            width: 440px;
            height: 350px;
        }
    }

    .categoryname {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .contprofile-listing {
        max-width: 260px;
        min-width: 260px;
    }

    .profileinitialimg {
        width: 260px;

        .profilefirstimg {
            width: 260px;
            height: 260px;
        }
    }

    .profile-social {
        li {
            padding: 0 4px !important;

            a {
                font-size: 13px;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}