<!-- @format -->

<div class="imacontainer" *ngIf="user && user.data">
    <div class="profileheader text-center">
        <app-attachment
            [attachment]="user.data.attachment"
            [type]="original"
            [cssClass]="'profiletopimg'"
        ></app-attachment>
    </div>
    <div class="content-middle contestantprofile">
        <div class="contprofileimage">
            <app-attachment
                [attachment]="user.data.attachment"
                [type]="original"
            ></app-attachment>
        </div>
        <div class="container">
            <div class="contprofilearea">
                <div class="text-center">
                    <h2>
                        {{ user.data.first_name }} {{ user.data.last_name }}
                    </h2>
                    <ul
                        class="profile-social list-inline text-center"
                        *ngIf="user.data.socials.length > 0">
                        <li
                            class="list-inline-item px-4"
                            *ngFor="
                        let social of user.data.socials;
                        trackBy: trackById
                    "
                        >
                            <a
                                href="{{ social.url }}"
                                target="_bank" 
                            >
                                <img
                                    src="{{ social.web_image }}"
                                    class="img-fluid"
                                />
                                <span class="d-block"><em>{{ social.name }}</em></span>
                            </a>
                        </li>
                    </ul>
                    <div class="my-5" *ngIf="!sessionService.isAuth">
                        <a
                            href="javascript:void(0)"
                            class="btn btn-primary contestvote-btn d-flex align-items-center justify-content-center text-uppercase m-auto"
                        >
                            <i
                                class="fa fa-star fa-3x mr-3"
                                aria-hidden="true"
                            ></i>
                            Vote for {{ user.data.first_name }}
                            {{ user.data.last_name }}
                        </a>
                    </div>
                    <div class="voteandrank">
                        <ul class="voterankcounts list-inline text-center">
                            <li class="list-inline-item px-4">
                                <img
                                    src="assets/images/rating-icon.png"
                                    class="img-fluid"
                                />
                                <span class="d-block profilevcount"
                                *ngIf="categoryId">{{user.data.vote_category.votes}}<span class="d-block contvotestext">votes</span></span
                                >
                                <span class="d-block profilevcount"
                                *ngIf="!categoryId">{{user.data.votes}}<span class="d-block contvotestext">votes</span
                                    ></span
                                >
                            </li>
                        </ul>
                    </div>
                    <ul
                        class="list-unstyled text-left d-flex justify-content-center contprofile-slisting flex-column"
                    >
                        <li
                            class="pb-3 my-4 mx-auto"
                            *ngIf="
                                !sessionService.isAuth ||
                                !user.data.is_subscribed
                            "
                        >
                            <div class="contprofile-listing">
                                <a
                                    href="javascript:void(0)"
                                    [routerLink]="['/login']"
                                    *ngIf="!sessionService.isAuth"
                                >
                                    <img
                                        src="assets/images/subscribe-lock.png"
                                        class="img-fluid"
                                    />
                                </a>
                                <a
                                    href="javascript:void(0)"
                                    [routerLink]="['/purchase']"
                                    *ngIf="
                                        sessionService.isAuth &&
                                        !user.data.is_subscribed
                                    "
                                >
                                    <img
                                        src="assets/images/subscribe-lock.png"
                                        class="img-fluid"
                                    />
                                </a>
                            </div>
                        </li>
                        <li
                            class="pb-3 my-4 mx-auto"
                            *ngIf="
                                sessionService.isAuth &&
                                user.data.is_subscribed &&
                                user.data.subscribed_data.length > 0
                            "
                        >
                            <div class="contprofile-listing" *ngFor="
                            let subscribData of user.data.subscribed_data;
                            trackBy: trackById
                        ">
                            <span>{{subscribData.category.name}}</span>
                            <span *ngFor="
                            let attachment of subscribData.attachments;
                            trackBy: trackById
                        ">
                            <app-attachment
                            [attachment]="attachment"
                                [type]="original"
                            ></app-attachment>
                            </span>
                                <a
                                    href="javascript:void(0)"
                                    class="btn btn-primary contestvote-btn d-flex align-items-center justify-content-center text-uppercase m-auto"
                                >
                                    <i
                                        class="fa fa-star fa-3x mr-3"
                                        aria-hidden="true"
                                    ></i>
                                    Vote for {{ user.data.first_name }}
                                    {{ user.data.last_name }}
                                </a>
                            </div>
                        </li>
                        <li
                            class="pb-3 my-4 mx-auto"
                            *ngIf="
                                sessionService.isAuth &&
                                user.data.is_subscribed &&
                                user.data.subscribed_data.length === 0
                            "
                        >
                            No Records
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
