<!-- @format -->

<div class="view-profile bg-white">
	<div class="vpinner">
		<div class="container">
			<div class="profileupdate">
				<a
					class="text-uppercase btn btn-outline-dark"
					href="javascript:void(0)"
					>Update Profile</a
				>
			</div>
			<div class="vpcontainer mx-auto text-center">
				<div class="profile-image position-relative">
					<img
						src="assets/images/contestant-profile-img.jpg"
						class="img-fluid rounded-circle overflow-hidden"
					/>
					<div class="subscribedicon">
						<img
							src="assets/images/subscribe-icon.png"
							class="img-fluid"
						/>
					</div>
				</div>
				<h2 class="profile-name rozhafont">
					[FirstName LastName]
				</h2>
				<p class="forgot-subscribe subscribed">
					<em>Forgot to Subscribe?</em>
				</p>

				<p class="m-0">
					Subscribe now to get full access. Welcome [User Name].
				</p>
				<p class="profile-details mx-auto">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<div class="subscribe-button">
					<a href="javascript:void(0)" class="btn btn-primary d-block"
						>SUBSCRIBE NOW</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
