.cateText {
    list-style: none;
    li {
        &::before {
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            background: #ef90a4;
            height: 1px;
            font-size: 22px;
        }
        a {
            &:hover,
            &:focus,
            &:active {
                color: #1a1a1a;
            }
        }
    }
}

.categoriescontainer {
    max-width: 1300px;
    width: 100%;
}

.categorieslisting {
    li {
        padding: 8px 15px;
        a {
            font-size: 33px;
            font-weight: 300;
            color: white;
            em {
                font-weight: 400;
            }
        }
        &:before {
            content: "ï‹œ";
            position: absolute;
            color: #47413c;
            top: 13px;
            left: -5px;
            border-radius: 100%;
            margin: 0px;
            font-family: FontAwesome;
            width: auto;
            height: auto;
            background: transparent;
            font-size: 10px;
        }
        &:nth-child(odd) {
            flex: 0 0 40%;
            max-width: 40%;
            margin-right: 10%;
        }
        &:nth-child(even) {
            flex: 0 0 40%;
            max-width: 40%;
            margin-left: 10%;
        }
    }
}

@media (max-width: 1900px) {
    .categorieslisting {
        li {
            padding: 6px 12px;
            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .categorieslisting {
        li {
            a {
                font-size: 22px;
            }
            &:nth-child(odd) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-right: 0%;
            }
            &:nth-child(even) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-left: 0%;
            }
        }
    }
    .clsCategoriesBlock {
        height: auto;
        background-position: -780px 0px;
    }
    .verticalItem {
        margin-top: 30px !important;
    }
}

////// New Styles
////Inner Banner Start
.innerBanners {
    background-image: url(../../assets/images/innerBanners.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

.innerBanners_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

.innerBanners_box {
    z-index: 1;
    text-align: center;
    padding: 170px 0 70px 0;
    h1 {
        font-size: 46px;
        padding-bottom: 8px;
    }
    ul {
        margin-left: -40px;
    }
    li {
        display: inline-block;
        font-family: 'Lusitana', serif;
        padding: 0 25px;
        font-weight: 800;
        a {
            color: #a9a9a9;
            &:focus {
                color: #a9a9a9;
            }
            &:hover {
                color: #ef90a4;
            }
        }
        p {
            color: #ef90a4;
        }
    }
}

@media (max-width: 798px) {
    .innerBanners_box {
        padding: 75px 0 50px 0;
    }
}

////Inner Banner End