<div class="imacontainer">
    <div class="carttitle d-flex justify-content-center align-items-center">
        <h3 class="rozhafont text-uppercase">Cart</h3>
    </div>
    <div class="content-middle cart-middle">
        <ul class="cartinner list-unstyled">
            <li *ngFor="let product of productDetails; let productIndex = index; trackBy: trackById">
                <div class="row">
                    <div class="col-xl-7 col-xs-5 col-5">
                        <div class="row">
                            <div class="col-xl-5 col-lg-12 produtimage">
                                <app-attachment
                                [attachment]="product.showDetail.panelImage"
                                [type]="original"
                                [cssClass]="'shopattimage'"
                            ></app-attachment>
                            </div>
                            <div class="col-xl-7 col-lg-12">
                                <div>
                                    <h5
                                        class="prodtitle cartsubtitle text-uppercase text-center"
                                    >
                                        Product
                                    </h5>
                                    <h2 class="cartproducttitle text-truncate">
                                        {{ product.showDetail.product.name }}
                                    </h2>
                                    <p class="proddescription m-0">
                                        {{ product.showDetail.product.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xs-3 col-3 cartprice">
                        <h5 class="cartsubtitle text-uppercase text-center">
                            Price
                        </h5>
                        <div class="cartprodamt text-center">
                            {{ product.showDetail.amount_detail.price | currency: settings.CURRENCY_CODE:'symbol' }}
                        </div>
                    </div>
                    <div class="col-xl-2 col-xs-3 col-3 cartprice">
                        <h5 class="cartsubtitle text-uppercase text-center">
                            Discount Price
                        </h5>
                        <div class="cartprodamt text-center">
                            {{ product.showDetail.amount_detail.discount_price | currency: settings.CURRENCY_CODE:'symbol' }}
                        </div>
                    </div>
                    <div class="col-xl-2 col-xs-3 col-3 cartprice">
                        <h5 class="cartsubtitle text-uppercase text-center">
                            Coupon Code
                        </h5>
                        <div class="cartprodamt text-center">
                            <input *ngIf="sessionService.isAuth && product.showDetail.amount_detail.discount_percentage"
                                [(ngModel)]="product.showDetail.cart.coupon.coupon_code"
                                [ngModelOptions]="{standalone: true}"
                                placeholder="Enter Code"
                            />
                        </div>
                    </div>
                    <div class="col-xl-3 col-xs-4 col-4">
                        <h5 class="cartsubtitle text-uppercase text-center">
                            Quantity
                        </h5>
                        <div class="ctquantityinput">
                            <button type="button" class="ctqtydecr" (click)="removeQuantity(product)"></button>
                            <span class="quantityinput">{{product.showDetail.cart && product.showDetail.cart.quantity ? product.showDetail.cart.quantity : 0 }}</span>
                            <button type="button" class="ctqtyincr" (click)="addQuantity(product)"></button>
                            <p class="mt-2 quntyremain m-0">
                                Only {{ product.showDetail.amount_detail.quantity}} items left
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-xs-4 col-4">
                            <h5 class="cartsubtitle text-uppercase text-center">
                                Edit
                            </h5>
                            <div class="ctquantityinput">
                                <button type="button" class="btn btn-primary" (click)="editCart(product)">Edit</button>
                            </div>
                    </div>
                    <div class="col-xl-3 col-xs-4 col-4">
                        <h5 class="cartsubtitle text-uppercase text-center">
                            Delete
                        </h5>
                        <div class="ctquantityinput">
                            <button type="button" class="btn btn-danger" (click)="deleteCart(product)">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cartupdate">
            <div class="checkout">
                <div class="row">
                    <div
                        class="offset-xl-9 offset-md-8 col-xl-3 col-md-4 col-12 "
                    >
                        <h5 class="carttotal text-uppercase">Cart Total</h5>
                        <div class="cartamount">{{ totalAmount | currency: settings.CURRENCY_CODE:'symbol' }}</div>
                        <button type="button"
                        (click)="checkout()"
                            class="checkoutbtn btn btn-success text-uppercase"
                        >
                            Proceed to Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
