<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2>
                CONTESTANTS
                <span
                    >by <em>{{ categoryName }}</em></span
                >
            </h2>
        </div>
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle contestants-section">
        <div class="row" *ngIf="!isNodata">
            <div
                class="col-md-6 col-6 text-center"
                *ngFor="let user of userList.data; trackBy: trackById"
            >
                <a [routerLink]="['/profile', user.id]" class="contestant-img">
                    <app-attachment
                        [attachment]="user.attachment"
                        [type]="original"
                        [cssClass]="'contestantimg'"
                    ></app-attachment>
                </a>
                <div class="d-flex contestant-listdetails">
                    <div class="contestant-name text-truncate text-center">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div class="contestant-counts">
                        <span class="mr-3 d-flex align-items-center"
                            ><img
                                src="assets/images/star-icon.png"
                                width="25"
                                class="img-fluid mr-2"
                            />
                            {{
                                user.category && user.category.votes
                                    ? user.category.votes
                                    : 0
                            }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4" *ngIf="isNodata">
            <div class="col-md-6">
                No Records
            </div>
        </div>
    </div>
</div>
