/** @format */

.purchasecontainer {
	max-width: 1490px;
	width: 100%;
}

.purchase-contimg {
	overflow: hidden;
}

.purchase-contesttitle {
	font-size: 5vw;
	font-family: 'Rozha One', serif;
}

.votepurchase-listing {
	li {
		padding-bottom: 85px;
		border-bottom: 1px solid #333;
	}

	h2 {
		font-weight: 300;
		font-size: 75px;
	}

	p {
		font-size: 50px;
	}

	.purchase-amount {
		font-weight: 300;
		font-size: 100px;
	}

	.purchase-btn {
		font-size: 34px;
		font-weight: 300;
	}
}

@media (max-width: 991px) {
	.purchase-contimg {
		max-width: 150px;
	}

	.purchase-contesttitle {
		text-align: center;
	}

	.votepurchase-listing {
		h2 {
			font-size: 40px;
		}

		p {
			font-size: 20px;
		}

		.purchase-amount {
			font-size: 40px;
		}

		.purchase-btn {
			font-size: 20px;
		}
	}
}
