/* Vote Successfull Start */
.voteSuccess {
	background: #eeeeee9c;
	padding: 25px 15px 60px 15px;
	border: 1px solid #eee;
	border-radius: 3px;
	.fa-star {
		background: #3ca5fa;
		color: #fff;
		padding: 15px;
		border-radius: 50px;
		font-size: 40px;
	}
	p {
		font-size: 14px;
	}
	h5 {
		font-size: 25px;
		font-weight: 300;
	}
}
.backBtn {
	font-size: 17px;
	padding: 4px 10px;
	height: auto;
	color: #797979;
	background-color: #EBEBEB;
	border: 1px solid #ddd;
	font-weight: 300;
	border-radius: 5px;
	max-width: 100px;
	width: 100%;
}
.shareBtn {
	font-size: 17px;
	padding: 4px 10px;
	height: auto;
	color: #fff;
	background-color: #3ea6fa;
	border-color: #3ea6fa;
	font-weight: 300;
	border-radius: 5px;
	max-width: 100px;
	width: 100%;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.social-share {
    font-size: 125px;
}
/* Vote Successfull End */