<div class="clearfix" *ngIf="menu">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Manage {{menu.title}} </h2>
                </div>
                <div class="col-sm-4 text-right" *ngIf="menu.add || menu.approve ">
                    <a href="javascript:void(0)" (click)="redirect('add')" *ngIf="menu.add" class="clsCircleBtn clsAddBtn" data-toggle="tooltip" data-placement="bottom" title="Add">
                        <i class="fa fa-plus"></i>
                        <!-- <span>Add</span> -->
                    </a>

                    <a href="javascript:void(0)" (click)="redirect('delete')" *ngIf="menu.delete" class="clsCircleBtn clsDeleteBtn" data-toggle="tooltip" data-placement="bottom" title="Delete">
                        <i class="fa fa-trash"></i>
                        <!-- <span>Delete</span> -->
                    </a>

                    <a href="javascript:void(0)" (click)="approveAll()" *ngIf="menu.approve" class="clsCircleBtn clsAddBtn" data-toggle="tooltip" data-placement="bottom" title="Approve All">
                        <i class="fa fa-plus"></i>
                        <!-- <span>Approve All</span> -->
                    </a>

                    <a href="javascript:void(0)" (click)="disapproveAll()" *ngIf="menu.disapprove" class="clsCircleBtn clsDeleteBtn" data-toggle="tooltip" data-placement="bottom" title="Disapprove All">
                        <i class="fa fa-trash"></i>
                        <!-- <span>Disapprove All</span> -->
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-overflow table-striped table-hover table-bordered">
            <thead class="thead-info">
                <tr>
                    <!-- <th>table-responsive
                 <span class="custom-checkbox">
                 <input type="checkbox" id="selectAll">
                 <label for="selectAll"></label>
                 </span>
              </th> -->
                    <th class="text-center" *ngFor="let item of menu.listview.fields">{{item.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of responseData">
                    <!-- <td>
                 <span class="custom-checkbox">
                 <input type="checkbox" id="checkbox1" name="options[]" value="1">
                 <label for="checkbox1"></label>
                 </span>
              </td> -->
                    <td class="text-center" *ngFor="let elementChild of menu.listview.fields">
                        <span *ngIf="!elementChild.listActions">
                     <span *ngIf="elementChild['label'] === 'From User'">
                        <span *ngIf="element.parent_user_id === 0">{{element.other_user.first_name}}
                           {{element.other_user.last_name}}</span>
                        <span *ngIf="element.parent_user_id !== 0">{{element.parent_user.first_name}}
                           {{element.parent_user.last_name}}</span>
                        </span>
                        <span *ngIf="elementChild['label'] !== 'From User'">{{getValue(elementChild['name'],
                        element)}}</span>
                        </span>
                        <ul class="clearfix unstyled clsAction" *ngIf="elementChild.listActions">
                            <li *ngFor="let button of elementChild.listActions">
                                <a href="javascript:void(0)" (click)="action(element, button.label)" class="" data-toggle="modal">
                                    <i class="{{button.icon}}"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix justify-content-center d-flex" *ngIf="metaData.last_page > 1">
            <ngb-pagination [collectionSize]="metaData.total" [pageSize]="metaData.per_page" [(page)]="metaData.current_page" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>