.recentwinner-section{
    padding: 65px 0;
}
.profilevcount {
    color: #7a7a7a;
    font-size: 29px;
    line-height: 20px;
    margin: 15px 0 0;
    font-weight: 800;

    .contvotestext {
        font-size: 13px;
        font-weight: normal;
    }
}
.recentWin {
    border: 1px solid #ddd;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 5px;
    background: #f9f9f9;
    img {
        border-radius: 5px;
    }
    .contestvote-btn {
        max-width: 350px;
        width: 100%;
    }
    .list-inline-item {
        a {
            color: #212529;
            text-decoration: none;
        }
    }
}

@media(max-width:1440px){
    ul.voterankcounts {
        > li{
            img{
                max-width: 62px;
            }
        }
    }
    .profile-social{
        li.list-inline-item{
            img{
                max-width: 42px;
            }
            &:not(:last-child){
                margin-right: 0.2em;
                margin-bottom: 0.4em;

            }
        }
    }
}
@media(max-width:767px){
    .profile-social{
        li.list-inline-item{
            &:not(:last-child){
                padding-right: 0.6em !important;
                padding-left: 0.6em !important;

            }
        }
    }
}