<div class="login-page signup-page" [@routerTransition]>
    <div class="signupwhite">
        <div class="text-center toplogo">
            <img src="assets/images/login-logo.jpg" class="img-fluid" />
        </div>
        <form role="form">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control input-underline input-lg"
                                id=""
                                placeholder="{{ 'First Name' | translate }}"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control input-underline input-lg"
                                id=""
                                placeholder="{{ 'Last Name' | translate }}"
                            />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input
                        type="text"
                        class="form-control input-underline input-lg"
                        id=""
                        placeholder="{{ 'Email' | translate }}"
                    />
                </div>

                <div class="form-group">
                    <input
                        type="password"
                        class="form-control input-underline input-lg"
                        id=""
                        placeholder="{{ 'Password' | translate }}"
                    />
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        class="form-control input-underline input-lg"
                        id=""
                        placeholder="{{ 'Repeat Password' | translate }}"
                    />
                </div>
            </div>
            <div class="login-actions">
                <a
                    class="btn rounded-btn register-btn"
                    [routerLink]="['/dashboard']"
                    >{{ "Sign Up" | translate }}</a
                >
            </div>
            <div class="already_acc">
                Already have an account?
                <a class="" [routerLink]="['/login']">{{
                    "Log in" | translate
                }}</a>
            </div>
            <div class="ortext">
                <span>or</span>
            </div>
            <div class="thirdlogin">
                <p class="thirdtext">Sign in up using</p>
                <a href="#" class="facebook rounded-btn text-center mb-3"
                    ><i class="fa fa-facebook" aria-hidden="true"></i>Sign in
                    with <span>Facebook</span></a
                >
                <a href="#" class="google rounded-btn text-center"
                    ><i class="fa fa-google" aria-hidden="true"></i>Sign in with
                    <span>Google</span></a
                >
            </div>
        </form>
    </div>
</div>
