<div class="container" *ngIf="menu">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>View <b>{{menu.title}}</b></h2>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="responseData">
            <div class="col-sm-6 col-lg-4" *ngFor="let item of menu.view.fields">
                <div class="clearfix boxInputNew" *ngIf="item.name !== 'username'">
                    <label for="{{item.name}}">{{item.label}}</label>

                    <p *ngIf="item.type !== 'file'">
                        {{item.value}}
                    </p>

                    <div class="contprofileimage" *ngIf="item.type === 'file'">
                        <app-attachment [attachment]="responseData.attachment" [type]="original"></app-attachment>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix pt-20 text-right">
            <button class="btn btn-primary" (click)="back()" type="button"> Back </button>
        </div>
    </div>
</div>