
.imanavbar {
    position: static;
}

.eprofilecontainer {
    max-width: 1044px;
    width: 100%;
}
.editPro{
    margin: 90px 0 0 0;
    border: 1px solid #eee;
    padding: 30px 15px;
    background: #f5f5f5;
}
.profile-image {
    max-width: 285px;
    border-radius: 50%;
    overflow: hidden;
    height: 285px;
}

.eprofleft {
    .btn {
        border-color: #aeaeae;
        color: #aeaeae;
    }
}

.form-group {
    label {
        color: #888;
    }

    input {
        height: 44px;
        border: none;
        background-color: #e8e8e8;
        color: #888;
    }
}
@media (max-width: 1440px) {
    .profile-image {
        max-width: 214px;
        height: 214px;
    }
}
