<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2 class="text-uppercase">Shop</h2>
        </div>
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle shop-section position-relative">
        <div class="shopsearch position-relative mt-3">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row align-items-center shoptopsearch">
                            <div class="col-md-4 my-1 searchinput position-relative">
                                <input type="text" class="form-control" [(ngModel)]="q"
                                    [ngModelOptions]="{standalone: true}" id="inlineFormInputName"
                                    placeholder="Search for items" />
                                <span class="search-icon"></span>
                            </div>
                            <div class="col-md-4 my-1 shopfilter position-relative" *ngIf="!isMyproduct">
                                <div ngbDropdown class="d-inline-block filterddown dropdown">
                                    <button type="button" class="btn btn-outline-primary"
                                        ngbDropdownToggle>{{filterBy}}</button>
                                    <div ngbDropdownMenu>
                                        <button type="button" class="dropdown-item"
                                            (click)="role(0, 'Filter By All')">Filter By All</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="role(1, 'Filter By Contestant')">Filter By Contestant</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="role(2, 'Filter By IMA')">Filter By IMA</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-auto my-1 shop-srbtn">
                                <button type="button" (click)="getProducts()" class="btn pryBtn">
                                    Search
                                </button>
                            </div>

                            <div class="col-md-1 topcartright" *ngIf="sessionService.isAuth">
                                <div class="cartsection text-center" *ngIf="!isMyproduct">
                                    <div class="position-relative pull-right" [routerLink]="['/cart']">
                                        <i class="fa fa-shopping-cart pryColor" aria-hidden="true"></i>
                                        <span class="rounded-circle cartcount"
                                            *ngIf="productList && productList.cart_count && productList.cart_count !== 0">{{productList.cart_count}}</span>
                                    </div>
                                </div>
                                <div class="cartsection text-center" *ngIf="isMyproduct">
                                    <button type="button" [routerLink]="['/addproduct']" class="btn secBtn text-uppercase">
                                        Add Products
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row shoplisting"
            *ngFor="let product of productDetails; let productIndex = index; trackBy: trackById">
            <div class="col-lg-7 col-md-6">
                <div class="cartimglisting d-flex">
                    <div class="mr-3 cartmiouter">
                        <div class="cartmainimage position-relative">
                            <app-attachment [attachment]="product.showDetail.panelImage" [type]="original"
                                [cssClass]="'shopattimage'"></app-attachment>
                            <a href="javascript:void(0)" (click)="redirect(product.user)" class="cartuserimg">
                                <app-attachment *ngIf="product.user" [attachment]="product.user.attachment" [type]="original"
                                    [cssClass]="'rounded-circle'"></app-attachment>
                            </a>
                        </div>
                    </div>
                    <div class="cartlistthumbnails" *ngIf="product.showDetail.attachments.length > 1">
                        <span *ngFor="let attachmentDetail of product.showDetail.attachments; let thumbnailIndex = index;">
                            <span href="javascript:void(0)" class="mb-3 thumbnail-span" *ngIf="thumbnailIndex < 4"
                                (click)="changeImage(product, attachmentDetail)" >
                                    <app-attachment [attachment]="attachmentDetail" [type]="original"
                                        [cssClass]="'shopattimage'"></app-attachment>
                            </span>
                        </span>
                        <span class="thumbnail-span" (click)="open(mymodal, product.showDetail.attachments)" *ngIf="product.showDetail.attachments.length > 4">
                            View More
                        </span>
                    </div>
                </div>
                <div class="slectcolors">
                    <span class="text-uppercase availcoltext mr-3">Available Colors</span>
                    <span>
                        <a *ngFor="let color of product.colors; let i = index;trackBy: trackById"
                            href="javascript:void(0)" (click)="changeDetail(productIndex, i)"
                            [ngClass]="{'active': color.isactive}" [ngStyle]="{'background-color': color.color}"
                            class="availcolorsselect ml-2"></a>
                    </span>
                </div>
            </div>
            <div class="col-md-5">
                <form>
                    <div class="productcartdesc">
                        <h2 class="m-0 mb-1 p-0 text-truncate">
                            {{ product.name }}
                        </h2>
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                    <div class="product-availsizes pt-2" *ngIf="product.showDetail.sizes.length > 0">
                        <p class="text-uppercase ctqtytext"><b>Available Sizes</b></p>
                        <a href="javascript:void(0)" class="text-uppercase" [ngClass]="{'active': size.isactive}"
                            *ngFor="let size of product.showDetail.sizes"
                            (click)="chooseSize(size, product)">{{size.size.name}}</a>
                    </div>
                    <div class="shopqtyarea d-flex">
                        <div class="cartquantity text-center">
                            <p class="text-uppercase ctqtytext"><b>Quantity</b></p>
                            <div class="ctquantityinput">
                                <button type="button" class="ctqtydecr" (click)="removeQuantity(product)"></button>
                            <span *ngIf="!isMyproduct"
                                    class="quantityinput">{{product.showDetail.cart && product.showDetail.cart.quantity ? product.showDetail.cart.quantity : 0 }}</span>
                                    <span *ngIf="isMyproduct && product.showDetail.cart.quantity === 0"
                                    class="quantityinput">{{ product.showDetail.amount_detail.quantity }}</span>
                                    <span *ngIf="isMyproduct && product.showDetail.cart.quantity !== 0"
                                    class="quantityinput">{{ product.showDetail.cart.quantity }}</span>
                                <button type="button" class="ctqtyincr" (click)="addQuantity(product)"></button>
                            </div>
                            <h6 class="quntyremain" *ngIf="!isMyproduct">
                                Only {{ product.showDetail.amount_detail.quantity}} items left
                            </h6>
                        </div>
                    </div>
                    <div class="d-flex mt-1">
                        <div class="d-flex flex-column cartdetails">
                            <p class="discount-details m-0 mt-3"
                                *ngIf="product.showDetail.amount_detail.discount_percentage">
                                <span>{{ product.showDetail.amount_detail.discount_percentage}}%
                                    discount</span>&nbsp;<span
                                    *ngIf="!product.showDetail.cart.coupon.isValid">available</span> <span
                                    *ngIf="product.showDetail.cart.coupon.isValid">applied</span>

                            </p>
                            <input *ngIf="!isMyproduct && product.showDetail.amount_detail.discount_percentage"
                                [(ngModel)]="product.showDetail.cart.coupon.coupon_code"
                                [ngModelOptions]="{standalone: true}" class="discountcode"
                                placeholder="Enter Code" />
                            <span *ngIf="isMyproduct && product.showDetail.amount_detail.discount_percentage"> <label>Coupon Code : </label> {{product.showDetail.amount_detail.coupon_code}}</span>  
                            <button *ngIf="!isMyproduct" class="btn btn-primary cart-btn mt-4" type="button" (click)="addToCart(product)">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                {{ product.showDetail.amount_detail.price | currency: settings.CURRENCY_CODE:'symbol' }}
                            </button>
                            <button *ngIf="isMyproduct" class="btn btn-primary cart-btn mt-4" type="button" (click)="addToCart(product)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                {{ product.showDetail.amount_detail.price | currency: settings.CURRENCY_CODE:'symbol' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="content-middle contestants-section" *ngIf="isNodata">
        <div class="row mb-4">
            <div class="col-md-7">
                No Records
            </div>
        </div>
    </div>
</div>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <app-attachment [attachment]="attachments[attachmentIndex]" [type]="original" [cssClass]="'profilefirstimg'"></app-attachment>
        <button class="btn btn-primary" (click)="prev()" type="button" *ngIf="attachmentIndex !== 1"><<Prev</button>
        <button class="btn btn-primary" (click)="next()" type="button" *ngIf="(attachmentIndex+1) < attachments.length">>>Next</button>
    </div>
</ng-template>