<!-- @format -->

<div class="imacontainer">
	<div class="subheader position-relative">
		<div class="subheadings">
			<h2 class="text-uppercase">Shop</h2>
		</div>
		<img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
	</div>
	<div class="content-middle contestants-section" *ngIf="!isNodata">
		<div
			class="row mb-4"
			*ngFor="let product of productList.data; trackBy: trackById"
		>
			<div class="col-md-7">
				<div class="cartimglisting d-flex">
					<div class="mr-3">
						<div class="cartmainimage">
							<app-attachment
								[attachment]="product.details[0].attachments[0]"
								[type]="original"
							></app-attachment>
						</div>
					</div>
					<div class="cartlistthumbnails">
						<a href="#" class="mb-3">
							<img
								src="assets/images/dummy-thumb.jpg"
								class="img-fluid"
							/>
						</a>
						<a href="#" class="mb-3">
							<img
								src="assets/images/dummy-thumb.jpg"
								class="img-fluid"
							/>
						</a>
						<a href="#" class="mb-3">
							<img
								src="assets/images/dummy-thumb.jpg"
								class="img-fluid"
							/>
						</a>
						<a href="#" class="">
							<img
								src="assets/images/dummy-thumb.jpg"
								class="img-fluid"
							/>
						</a>
					</div>
				</div>
				<div class="slectcolors">
					<span class="text-uppercase availcoltext mr-3"
						>Available Colors</span
					>
					<span>
						<a
							href=""
							class="availcolorsselect blackavail ml-2"
						></a>
						<a
							href=""
							class="availcolorsselect blackavail ml-2"
						></a>
						<a
							href=""
							class="availcolorsselect blackavail ml-2"
						></a>
						<a
							href=""
							class="availcolorsselect blackavail ml-2"
						></a>
					</span>
				</div>
			</div>
			<div class="col-md-5">
				<form>
					<div class="d-flex justify-content-end">
						<div class="cartquantity text-center">
							<p class="text-uppercase ctqtytext">Quantity</p>
							<div class="ctquantityinput">
								<button class="ctqtydecr"></button>
								<input
									type="number"
									class="quantityinput"
									value="1"
								/>
								<button class="ctqtyincr"></button>
							</div>
							<p class="mt-2 quntyremain">Only 5 items left</p>
						</div>
					</div>
					<div class="productcartdesc">
						<h2 class="m-0 p-0">
							{{ product.name }}
						</h2>
						<p>
							{{ product.description }}
						</p>
					</div>
					<div class="product-availsizes">
						<span>Available Sizes</span>
						<a href="" class="text-uppercase">xs</a>
						<a href="" class="text-uppercase">s</a>
						<a href="" class="text-uppercase">m</a>
						<a href="" class="text-uppercase">l</a>
					</div>
					<div class="d-flex justify-content-end mt-5">
						<div class="d-flex flex-column cartdetails">
							<p class="text-center discount-details">
								<span>10% discount</span> available
							</p>
							<input
								class="discountcode text-center text-uppercase"
								placeholder="Enter Code"
							/>
							<button class="btn btn-primary cart-btn mt-4">
								<i
									class="fa fa-shopping-cart"
									aria-hidden="true"
								></i>
								{{ product.price | currency: 'JPY':'symbol' }}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="content-middle contestants-section" *ngIf="isNodata">
		<div class="row mb-4">
			<div class="col-md-7">
				No Records
			</div>
		</div>
	</div>
</div>
