<!-- Banner Start -->
<section class="clearfix">
    <div class="innerBanners_box">
        <div class="subheader position-relative">
            <div class="subheadings">
                <h2> Contact Us </h2>

                <ul class="clearfix unstyled clsListWinner">
                    <li><a href="javascript:void(0)">HOME</a></li>
                    <li><a href="javascript:void(0)">PAGES</a></li>
                    <li>
                        <p>CONTACT US</p>
                    </li>
                </ul>
            </div>
            <img src="assets/images/contestant-headerbg.jpg" class="img-fluid">
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Form Start -->
<section class="contForm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Contact Form</h2>
                <div class="contact-form row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" value="" name="name" id="name" class="form-control" placeholder="Name" [(ngModel)]="contact.name" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <input type="text" value="" name="subject" id="subject" class="form-control" placeholder="Subject" [(ngModel)]="contact.subject" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <input type="text" value="" name="phone" id="phone" class="form-control" placeholder="Phone number" [(ngModel)]="contact.phone" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" value="" name="email" id="email" class="form-control" placeholder="Email address" [(ngModel)]="contact.email" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            <textarea [(ngModel)]="contact.msg" [ngModelOptions]="{standalone: true}" aria-required="true" rows="9" cols="45" name="message" id="message" class="form-control" placeholder="Message..."></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="contact-form-submit topmargin_10">
                            <button type="button" id="contact_form_submit" (click)="onSubmit()" name="contactSubmit" class="contactSubmit">Submit</button>
                            <button type="button" id="contact_form_reset" name="contactReset" class="contactReset">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contAddress">
                    <h2>Contact Info</h2>
                    <p><i class="fa fa-globe"></i> Miami, FL USA</p>
                    <p><i class="fa fa-phone"></i> (305) 999-5910</p>
                    <p><i class="fa fa-envelope"></i> <a href="itstheimas@gmail.com">itstheimas@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Form End -->