.timer-container {
    max-width: 1046px;
    width: 100%;
}

.timerhd {
    font-size: 62px;
    font-weight: 300;
    color: #b8b8b8;
}

.timerblock {
    > span{
        background: #181c30;
        border-radius: 10px;
        color: #fff;
        font-weight: 300;
        padding: 35px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timings {
        .count {
            font-size: 150px;
            line-height: 160px;
        }

        .timetext {
            font-size: 25px;
            line-height: 25px;
            display: block;
        }
    }

    .timecolan {
        font-size: 150px;
        line-height: 150px;
        padding: 0;
    }
}
@media (max-width: 1440px) {
    .timer-container {
        max-width: 786px;
    }

    .timerhd {
        font-size: 46px;
    }

    .timerblock {
        border-radius: 10px;
        padding: 35px 0;

        .timings {
            .count {
                font-size: 112px;
                line-height: 112px;
            }

            .timetext {
                font-size: 18px;
                line-height: 18px;
            }
        }

        .timecolan {
            font-size: 112px;
            line-height: 112px;
        }
    }
}

@media (max-width: 1199px) {
    .timer-container {
        max-width: 550px;
    }

    .timerhd {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .timer-container {
        max-width: 300px;
    }

    .timerhd {
        font-size: 30px;
    }

    .timerblock {
        padding: 20px 0;

        .timings {
            .count {
                font-size: 50px;
                line-height: 60px;
            }

            .timetext {
                font-size: 12px;
                line-height: 15px;
            }
        }

        .timecolan {
            font-size: 50px;
            line-height: 50px;
        }
    }
}