<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2 class="text-uppercase">Account History</h2>
        </div>
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle accounthistory-section">
        <div class="accounttabs">
            <app-my-tabs (tabSelected)="tabSelected($event)">
                <app-my-tab [tabTitle]="'Product Transaction'" [tabClass]="'Product'">
                    <div class="tabcontents">
                        <div class="" *ngIf="transactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of transactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="!transactionData.length">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="VotePackage Transaction" tabClass="VotePackage">
                    <div class="tabcontents">
                        <div class="" *ngIf="transactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of transactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="!transactionData.length">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Instant VotePackage Transaction" tabClass="InstantPackage">
                    <div class="tabcontents">
                        <div class="" *ngIf="transactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of transactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="!transactionData.length">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Subscription Transaction" tabClass="SubscriptionPackage">
                    <div class="tabcontents">
                        <div class="" *ngIf="transactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of transactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="!transactionData.length">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Fund Transaction" tabClass="Fund">
                    <div class="tabcontents">
                        <div class="" *ngIf="transactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of transactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="!transactionData.length">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
            </app-my-tabs>

        </div>
    </div>
</div>
