  <!-- @format -->

<div class="imacontainer">
	<div class="subheader position-relative">
		<div class="subheadings">
			<h2 class="text-uppercase">Account History</h2>
		</div>
		<img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
	</div>
	<div class="content-middle contestants-section">
		<div
			class="row shoplisting"
		>
        <app-my-tabs>
            <app-my-tab [tabTitle]="'Tab 1'">
              Tab 1 content
            </app-my-tab>
            <app-my-tab tabTitle="Tab 2">
              Tab 2 content
            </app-my-tab>
          </app-my-tabs>
		</div>
	</div>

</div>
