  <!-- @format -->

<div class="imacontainer">
	<div class="subheader position-relative">
		<div class="subheadings">
			<h2 class="text-uppercase">Account History</h2>
		</div>
		<img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
	</div>
	<div class="content-middle contestants-section">
		<div
			class="row shoplisting"
		>
        <app-my-tabs>
            <app-my-tab [tabTitle]="'Product Transaction'">
                Product Transaction
            </app-my-tab>
            <app-my-tab tabTitle="VotePackage Transaction">
                VotePackage Transaction
            </app-my-tab>
            <app-my-tab tabTitle="Instant VotePackage Transaction">
                Instant VotePackage Transaction
              </app-my-tab>
              <app-my-tab tabTitle="Subscription Transaction">
                Subscription Transaction
              </app-my-tab>
              <app-my-tab tabTitle="Fund Transaction">
                Fund Transaction
              </app-my-tab>
          </app-my-tabs>
		</div>
	</div>

</div>
