$topnav-background-color: #222;

.messages {
    width: 300px;

    .media {
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;

        &:last-child {
            border-bottom: none;
        }
    }

    .media-body {
        h5 {
            font-size: 13px;
            font-weight: 600;
        }

        .small {
            margin: 0;
        }

        .last {
            font-size: 12px;
            margin: 0;
        }
    }
}








.subheadings {
    position: absolute;
    padding: 0 0 0 125px;
    top: 50%;
    left: 0;
    transform: translate(0%, -51%);
    width: 50%;

    h2 {
        font-family: 'Rozha One', serif;
        font-size: 5.25vw;
        color: #fff;
        line-height: 5vw;

        .nextline {
            display: block;
        }

        span:not(.nextline) {
            font-family: "Open Sans";
            font-size: 2vw;
            line-height: normal;
            display: block;
            font-weight: 300;

        }
    }
}

.imafeaturescontainer {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}

.homefeatures {
    margin: 140px 0 75px;

    ul {
        li {
            margin-bottom: 100px;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 45px;
    }

    p {
        font-weight: 300;
        font-size: 20px;
    }

    .features-btn {
        font-weight: 300;
        font-size: 23px;
        padding: 11px;
    }
}

.greybg {
    background-color: #f0f0f0;
}

.subscribe-section {
    padding: 75px 0 100px;

    .subscribetext {
        font-size: 37px;
    }

    h3 {
        font-size: 19vw;
        line-height: 12vw;
    }

    .vipmember {
        font-size: 4vw;
    }

    .membership-amount {
        font-size: 37px;

        span {
            font-weight: 600;
            font-size: 62px;
        }
    }

    .subscribe-btn {
        font-size: 23px;
        font-weight: 700;
    }
}

@media(max-width:991px) {
    .homefeatures {
        margin: 40px 0 40px;

        ul {
            li {
                margin-bottom: 50px;
            }
        }

        h2 {
            font-size: 34px;
        }

        p {
            font-size: 15px;
        }

        .features-btn {
            font-size: 16px;
        }
    }
}