<div class="imacontainer position-relative">
    <nav class="navbar navbar-expand-lg imanavbar">
        <a class="navbar-brand" href="#"><img src="assets/images/ima-logo.png" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">ADVERTISERS</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">VOTE</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">CONTESTANTS</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">SHOP</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">PROFILE</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">ABOUT US</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="imacontainer">
    <div class="subheader position-relative">
        <div class="subheadings">
            <h2><span class="nextline">Influential</span>
                Model Awards
                <span><span class="nextline">Lorem ipsum dolor sit amet,</span>
                    consectetur adipiscing elit.</span>
            </h2>
        </div>
        <img src="assets/images/home-banner.jpg" class="img-fluid" />
    </div>
</div>
<div class="imafeaturescontainer">
    <div class="homefeatures">
        <div class="">
            <ul class="row list-unstyled">
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-advertisers.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">Advertisers</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-contestants.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">Contestants</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-vote.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">Vote</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-shop.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">Shop</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-myprofile.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">My Profle</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
                <li class="col-md-4 text-center">
                    <div class="px-4">
                        <img src="assets/images/feature-gofundme.jpg" class="img-fluid" />
                    </div>
                    <h2 class="mt-3 mb-0 px-4">GoFundMe</h2>
                    <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="px-4">
                        <a href="#" class="d-block btn btn-primary features-btn">VISIT PAGE</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="greybg subscribe-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-3 text-center">
                <p class="subscribetext m-0">Subscribe to</p>
                <h3 class="rozhafont">IMA</h3>
                <div class="rozhafont vipmember text-uppercase">
                    vip member
                </div>
                <div class="membership-amount mb-5">for only <span>$00.00</span></div>
                <a href="#" class="text-uppercase btn btn-warning text-white px-5 subscribe-btn">Subscribe Now</a>
            </div>
        </div>
    </div>
</div>
<footer class="imafooter">
    <p class="text-center m-0">COPYRIGHT 2020 [Company Name]. All rights reserved.</p>
</footer>